<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <!-- <p class="site-description">{{ site.description }}</p> -->
            {% if page.short_title %}
              <p class="site-description">{{ page.short_title }}</p>
            {% else %}
              {% if layout.title %}
                <p class="site-description">{{ layout.title }}</p>
              {% endif %}
            {% endif %}
          </div>

          <nav>
            {% for nn in layout.topnav %}
              {% if nn == 'home' %}
                <a href="{{ site.baseurl }}/">Home</a>
              {% endif %}
              {% if nn == 'blog' %}
                <a href="{{ site.baseurl }}/blog/">Blog</a>
              {% endif %}
              {% if nn == 'portfolio' %}
                <a href="{{ site.baseurl }}/portfolio/">Portfolio</a>
              {% endif %}
              {% if nn == 'about' %}
                <a href="{{ site.baseurl }}/about/">About</a>
              {% endif %}
            {% endfor %}
          </nav>

        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}

      <p>&nbsp;</p>
    </div>
  
    {% include analytics.html %}
  </body>
</html>
